@import "tailwindcss";

@layer button {
  .btn-primary {
    /* text-transform: uppercase;
        border: 2px solid black; */
    padding-inline: 1rem;
    padding-block: 0.5rem;

    &:hover {
      background-color: rgb(0, 0, 0, 0.5);
      color: #ffffff;
      border: 2px solid #000000;
    }
  }

  .btn-secondary {
    text-transform: uppercase;
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    padding-inline: 1rem;
    padding-block: 0.5rem;

    &:hover {
      background-color: rgb(0, 0, 0, 0.5);
      color: #ffffff;
      border: 2px solid #000000;
    }
  }
}

@layer headers {
  .h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .h4 {
    font-size: clamp(1.375rem, 2.75vw, 1.75rem);
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
